/*Menu Styling*/

#menu{
    margin-left: 2.5%;
    margin-right: 2.5%
}

#menu ul{
    list-style-type: none;
    text-align: center;
    box-shadow: 5px 8px 8px rgba(0, 0, 0, 0.5);
    background-color: #1d728f;
    border-radius: 6px;
    margin-top: 8px;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    overflow: hidden;
    font-size: 14px;
    text-align: right;
    display: inline-block;
}

#menu li{
    float: left;
}

#menu li a{
    color: #ccf2ff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#menu a:hover{
    color: #1d728f;
    background-color: #ccf2ff;
}

#menu a:active{
    
    color: white;
}

/*Body Styling*/

body{
    text-align: center;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/7/73/Grand_Canyon_of_yellowstone.jpg");
    background-color: #ccf2ff;
    box-shadow: inset 0 0 0 1000px rgba(246, 249, 225, 0.689);
    background-size: cover;
    padding: 0;
    margin: 0;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

img{
    border-style: ridge;
    border-color: #4ea5c2;
    border-radius: 15px;
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.555);
    width: 70%;
    
}

#imgleft{
    border-style: ridge;
    border-color: #4ea5c2;
    float: left;
    margin: 0px 15px 15px 0px;
    max-width: 50%;
    box-shadow: inset 0 0 0 1000px rgba(246, 249, 225, 0.689);
    
}

#profile{
    border-style: ridge;
    border-color: #4ea5c2;
    border-radius: 50%;
}

#attrLeft{
    float: left;
    font-size: 10px;
    margin-right: 50%;
}

video{
    border-style: ridge;
    border-color: #4ea5c2;
    border-radius: 15px;
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.2);
    width: 80%;
}

.attributions{
    font-size: 14px;
}

#temp{
    padding-bottom: 100vh;
}

figcaption>a{
    color: #1d728f;
}

figcaption>a:hover{
    color: #00455c;
}



/* Font Style */

.imperial {
    font-family: "Imperial Script", 'Times New Roman', Times, cursive;
    font-weight: 500;
    font-style: normal;
    font-size: 100px;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    color: #00455c;
    
  }

.ibm{
    font-family: "IBM Plex Serif", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    color: #03212b;
    text-align: center;
  }

  p>strong{
    font-style: italic;
  }

  #txtright{
    text-align: right;
    padding-left: 50%;
}
  
/* Footer Styling*/

footer{
    background-color: #00455c;
    padding: 3px 3px;
    text-align: center;
    color: #93dcf5;
}
#footerStyle ul{
    list-style-type: none;
    margin-right: 50px;
}

#footerStyle a{
    text-decoration: line;
    color: #93dcf5;
    
}
#footerStyle a:hover{
    color: #4ea5c2
}
#footerStyle a:active{
    color: #ccf2ff;
}
